body {
    background-color: rgb(236,252,253);
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin: 1.5rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form {
    width: 40rem;
    margin: auto;
    background-color: rgb(246,250,255);
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 6px;
}

label {
    margin-bottom: 0.5rem 0;
    display: block;
    color: rgb(34,43,61);
    font-weight: bold;
}

section {
    margin-bottom: 1rem;
    margin: 10px;
}

input, textarea, select {
   width: 100%;
   display: block;
   box-sizing: border-box;
   font: inherit;
   border: 1px solid rgb(152,159,184);
   padding: 0.5rem;
   border-radius: 4px;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    background-color: rgb(217,227,247);
}

.inline-control {
    display: flex;
}

.inline-control label {
    margin: 0;
    margin-left: 0.5rem;
}

.inline-control input {
    width: auto;
}


button {
    font: inherit;
    border: 1px solid rgb(51,67,100);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

#form-actions {
    text-align: right;
}

.btn-filled {
    background-color: rgb(51,67,100);
    color: white;
}

.btn-empty {
    background-color: transparent;
    color: rgb(51,67,100);
}

.btn-filled:hover {
    background-color: rgb(69,89,129);
    border-color: rgb(69,89,129);
}

.btn-empty:hover {
    background-color: rgb(208,215,230);
}
